body {
                background: linear-gradient(135deg, #74ebd5 0%, #ACB6E5 100%);
        }

.navigator-tab {
                display: flex;
                width: 100%;
                justify-content:center;
                background: rgba(51, 51, 51, 0.85);
                height:50px;
        
        }

.home {
        border: 0px;
           width: 350px;     
        background: none;
        font-size: 25px;
        color: antiquewhite;

        }



